.elements__group {
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 21px 17px;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .elements__group {
    justify-content: center;
    padding: 0 10px;
  }
}

@media screen and (max-width: 320px) {
  .elements__group {
    padding: 0;
  }
}
